@charset "UTF-8";

@import "../common/import.scss";

html, body, .content {
	width: 100%;
	height: 100%;
}
.contents{
	padding-right: 10px;
	.search{
		width: 100%;
		@extend %beforeAndAfter;
		border-bottom: 1px solid #ccc;
		padding-bottom: 10px;
	}
	.content{
		width: 100%;
		height: auto;
		padding-top: 20px;
	}
	.table{
		a{
			text-decoration: none;
		}
	}
}

@media all and (min-width: $screen-min-width) {
	.form-horizontal{
		.form-group{
			float: left;
			width: (100% / 2);
		}
	}
}

@media all and (min-width: $screen-mid-width) {
	.form-horizontal{
		.form-group{
			float: left;
			width: (100% / 3);
		}
	}
}

@media all and (min-width: $screen-max-width) {
	.form-horizontal{
		.form-group{
			float: left;
			width: (100% / 4);
		}
	}
}

