p {
  font-size: 2em;
  margin: 0.5em 0 2em 0;
}

#container, .section {
  height: 100%;
  position: relative;
}

#section0, #section1, #section2, #section3 {
  background-color: #000;
  background-size: cover;
  background-position: 50% 50%;
}

#section0 {
  background-image: url(../../img/1.bmp);
  color: #fff;
  text-shadow: 1px 1px 1px #333;
}

#section1 {
  color: #fff;
  text-shadow: 1px 1px 1px #333;
  background-image: url(../../img/2.jpg);
}

#section2 {
  background-image: url(../../img/3.jpg);
  color: #fff;
  text-shadow: 1px 1px 1px #666;
}

#section3 {
  color: #008283;
  background-image: url(../../img/4.jpg);
  text-shadow: 1px 1px 1px #fff;
}

#section0 p {
  color: #F1FF00;
}

#section3 p {
  color: #00A3AF;
}

.left {
  float: left;
}

.intro {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

#pages {
  position: fixed;
  right: 10px;
  top: 50%;
  list-style: none;
}

#pages li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  margin: 0 0 10px 5px;
}

#pages li.active {
  width: 14px;
  height: 14px;
  border: 2px solid #FFFE00;
  background: none;
  margin-left: 0;
}

#section0 .title {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-animation: sectitle0 1s ease-in-out 100ms forwards;
  animation: sectitle0 1s ease-in-out 100ms forwards;
}

#section0 p {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-animation: sec0 1s ease-in-out 100ms forwards;
  animation: sec0 1s ease-in-out 100ms forwards;
}

@-webkit-keyframes sectitle0 {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes sectitle0 {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes sec0 {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes sec0 {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.head {
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: black;
}
.head li {
  width: 10%;
  float: left;
  height: 42px;
  position: relative;
}
.head li a {
  text-align: center;
  color: white;
}
.head li input:checked + a, .head li input:hover + a {
  font-weight: 600;
}
.head li input:checked + a {
  background-color: #0099CC;
}
.head li input:hover:checked + a {
  background-color: #0099CC;
}
.head li input:hover + a {
  background-color: #414D5C;
}
.head li input[type="radio"] {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
}
.head li input[type="radio"]:hover {
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
