@charset "UTF-8";

%col{
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

@mixin commonCreate_col($col-number:13){
	@for $i from 1 to $col-number{
      .col-#{$i}{
      	@extend %col;
      }
	}
}

@mixin create_col($col-number:13){
	@for $i from 1 to $col-number{//这里的循环是包含头不包含尾
      .col-#{$i}{
      	float: left;
      	display: block;
      	 @if $i == ($col-number - 1 ){
      	 	width: 100%;
      	 }@else{
      	 	width: 100% / $col-number * $i;
      	 }
      }
	}
}

@mixin create_col_push($col-number:13){
	@for $i from 1 to $col-number{
      .col-push-#{$i}{
      	 @if $i == ($col-number - 1 ){
      	 	margin-left: 100%
      	 }@else{
      	 	margin-left:100% / $col-number * $i;
      	 }
      }
	}
}