@charset "UTF-8";

$lan_percent_width:48%;//栏的宽度
$screen-min-width:768px;//小尺寸
$screen-mid-width:992px;//中等尺寸
$screen-max-width:1200px;//大尺寸
$col-number:12;//栅格列数
$ff: Braggadocio,Arial,verdana,Helvetica,sans-serif;
