@charset "UTF-8";
/*
IMPORT文件，通用导入功能

*/
.container:before, .container:after { display: table; content: ""; clear: both; }

/*******container容器********/
@media all and (min-width: 768px) { .container { margin: 0px auto 0px auto; width: 750px; } }
@media all and (min-width: 992px) { .container { margin: 0px auto 0px auto; width: 970px; } }
@media all and (min-width: 1200px) { .container { margin: 0px auto 0px auto; width: 1170px; } }
