@charset "UTF-8";
/*
IMPORT
...................mixin.scss;函数集中文件
...................variable.scss;变量集中文件
...................tag.scss;标签集中文件
...................raster.scss;栅格集中文件

*/
.row:before, .row:after {
  display: table;
  content: "";
  clear: both; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

/*******栅格********/
.row {
  width: 100%;
  min-height: 1px; }

@media (min-width: 768px) {
  .col-1 {
    float: left;
    display: block;
    width: 7.69231%; }

  .col-2 {
    float: left;
    display: block;
    width: 15.38462%; }

  .col-3 {
    float: left;
    display: block;
    width: 23.07692%; }

  .col-4 {
    float: left;
    display: block;
    width: 30.76923%; }

  .col-5 {
    float: left;
    display: block;
    width: 38.46154%; }

  .col-6 {
    float: left;
    display: block;
    width: 46.15385%; }

  .col-7 {
    float: left;
    display: block;
    width: 53.84615%; }

  .col-8 {
    float: left;
    display: block;
    width: 61.53846%; }

  .col-9 {
    float: left;
    display: block;
    width: 69.23077%; }

  .col-10 {
    float: left;
    display: block;
    width: 76.92308%; }

  .col-11 {
    float: left;
    display: block;
    width: 84.61538%; }

  .col-12 {
    float: left;
    display: block;
    width: 100%; }

  .col-push-1 {
    margin-left: 7.69231%; }

  .col-push-2 {
    margin-left: 15.38462%; }

  .col-push-3 {
    margin-left: 23.07692%; }

  .col-push-4 {
    margin-left: 30.76923%; }

  .col-push-5 {
    margin-left: 38.46154%; }

  .col-push-6 {
    margin-left: 46.15385%; }

  .col-push-7 {
    margin-left: 53.84615%; }

  .col-push-8 {
    margin-left: 61.53846%; }

  .col-push-9 {
    margin-left: 69.23077%; }

  .col-push-10 {
    margin-left: 76.92308%; }

  .col-push-11 {
    margin-left: 84.61538%; }

  .col-push-12 {
    margin-left: 100%; } }
@media (min-width: 992px) {
  .col-1 {
    float: left;
    display: block;
    width: 7.69231%; }

  .col-2 {
    float: left;
    display: block;
    width: 15.38462%; }

  .col-3 {
    float: left;
    display: block;
    width: 23.07692%; }

  .col-4 {
    float: left;
    display: block;
    width: 30.76923%; }

  .col-5 {
    float: left;
    display: block;
    width: 38.46154%; }

  .col-6 {
    float: left;
    display: block;
    width: 46.15385%; }

  .col-7 {
    float: left;
    display: block;
    width: 53.84615%; }

  .col-8 {
    float: left;
    display: block;
    width: 61.53846%; }

  .col-9 {
    float: left;
    display: block;
    width: 69.23077%; }

  .col-10 {
    float: left;
    display: block;
    width: 76.92308%; }

  .col-11 {
    float: left;
    display: block;
    width: 84.61538%; }

  .col-12 {
    float: left;
    display: block;
    width: 100%; }

  .col-push-1 {
    margin-left: 7.69231%; }

  .col-push-2 {
    margin-left: 15.38462%; }

  .col-push-3 {
    margin-left: 23.07692%; }

  .col-push-4 {
    margin-left: 30.76923%; }

  .col-push-5 {
    margin-left: 38.46154%; }

  .col-push-6 {
    margin-left: 46.15385%; }

  .col-push-7 {
    margin-left: 53.84615%; }

  .col-push-8 {
    margin-left: 61.53846%; }

  .col-push-9 {
    margin-left: 69.23077%; }

  .col-push-10 {
    margin-left: 76.92308%; }

  .col-push-11 {
    margin-left: 84.61538%; }

  .col-push-12 {
    margin-left: 100%; } }
@media (min-width: 1200px) {
  .col-1 {
    float: left;
    display: block;
    width: 7.69231%; }

  .col-2 {
    float: left;
    display: block;
    width: 15.38462%; }

  .col-3 {
    float: left;
    display: block;
    width: 23.07692%; }

  .col-4 {
    float: left;
    display: block;
    width: 30.76923%; }

  .col-5 {
    float: left;
    display: block;
    width: 38.46154%; }

  .col-6 {
    float: left;
    display: block;
    width: 46.15385%; }

  .col-7 {
    float: left;
    display: block;
    width: 53.84615%; }

  .col-8 {
    float: left;
    display: block;
    width: 61.53846%; }

  .col-9 {
    float: left;
    display: block;
    width: 69.23077%; }

  .col-10 {
    float: left;
    display: block;
    width: 76.92308%; }

  .col-11 {
    float: left;
    display: block;
    width: 84.61538%; }

  .col-12 {
    float: left;
    display: block;
    width: 100%; }

  .col-push-1 {
    margin-left: 7.69231%; }

  .col-push-2 {
    margin-left: 15.38462%; }

  .col-push-3 {
    margin-left: 23.07692%; }

  .col-push-4 {
    margin-left: 30.76923%; }

  .col-push-5 {
    margin-left: 38.46154%; }

  .col-push-6 {
    margin-left: 46.15385%; }

  .col-push-7 {
    margin-left: 53.84615%; }

  .col-push-8 {
    margin-left: 61.53846%; }

  .col-push-9 {
    margin-left: 69.23077%; }

  .col-push-10 {
    margin-left: 76.92308%; }

  .col-push-11 {
    margin-left: 84.61538%; }

  .col-push-12 {
    margin-left: 100%; } }

/*# sourceMappingURL=raster.css.map */
