@charset "UTF-8";
/*
IMPORT
...................mixin.scss;函数集中文件
...................variable.scss;变量集中文件
...................tag.scss;标签集中文件
...................raster.scss;栅格集中文件

*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.1;
}

h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

h1 small, h2 small, h3 small,
h4 small, h5 small, h6 small {
  font-size: 65%;
  color: #777;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  font: inherit;
  color: inherit;
}
input[readonly], input[disabled], button[readonly], button[disabled], select[readonly], select[disabled], textarea[readonly], textarea[disabled] {
  cursor: not-allowed;
}
input[disabled], button[disabled], select[disabled], textarea[disabled] {
  cursor: not-allowed;
  background-color: #eee;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

a {
  color: #337ab7;
}
