@charset "UTF-8";
@import "./import.scss";

/*******table********/

.table{
	width: 100%;
	tr{
	  	height: 37px;
	};
	td,th{
		padding: 8px;
		text-wrap:none;
	}
}

.table-border{
	border:1px solid red;
	td,th{
		border: 1px solid #DDDDDD;
		text-align: left;
	}
}

.table-hover{
	tr:hover{
		td{
			background-color: #F5F5F5;
		}
	}
}

.table-striped{
	tbody{
		tr:nth-child(odd) {//:nth-child CSS 选择器
	  		background-color: #EEF0F4;
		}
	}
}

.table-condensed{
	tr{
	  	height: 31px;
	}
	td,th{
		padding: 5px;
	}
}

.table-responsive{	
	clear: right;
	width: auto;
	overflow-x: auto;
	.table{
		white-space:nowrap;
	}
}