@charset "UTF-8";

@import "./import.scss";

%h{
	font-weight: 500;
	line-height: 1.1;
}
%h123{
	margin-top: 20px;
	margin-bottom: 10px;
}
%h456{
	margin-top: 10px;
 	margin-bottom: 10px;
}
h1{
	@extend %h;
	@extend %h123;
	font-size: 36px;
}
h2{
	@extend %h;
	@extend %h123;
	font-size: 30px;
}
h3{
	@extend %h;
	@extend %h123;
	font-size: 24px;
}
h4{
	@extend %h;
	@extend %h456;
	font-size: 18px;
}
h5{
	@extend %h;
	@extend %h456;
	font-size: 14px;
}
h6{
	@extend %h;
	@extend %h456;
	font-size: 12px;
}

h1 small, h2 small, h3 small,
h4 small,h5 small,h6 small{
  font-size: 65%;
  color:  #777;
}

input,button,select,textarea{
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
  	font: inherit;
  	color: inherit;
	&[readonly],&[disabled]{
   		cursor: not-allowed;//disabled鼠标在IE9及其以下，不会出现红色禁用标志;readonly会有红色禁用标志
   	}
   	&[disabled]{
   		cursor: not-allowed;//disabled鼠标在IE9及其以下，不会出现红色禁用标志;readonly会有红色禁用标志
   		background-color: #eee;
   	}
}

table{
	border-spacing: 0px; 
	border-collapse: collapse;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
a{
	color: #337ab7;
	text-decoration: none;
	&:hover{
		color: blue;
	}
}

// optgroup{
//   margin: 0;
//   font: inherit;
//   color: inherit;
// }